main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.box {
  height: 200px;
  text-align: center;
  padding-top: 30px;
}

.orange {
  background-color: orange;
}

.hotpink {
  background-color: hotpink;
}

.teal {
  background-color: teal;
}

.grey {
  background-color: grey;
}